.question1 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question2 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question3 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question4 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question5 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question6 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question7 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question8 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question9 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.question10 {
  height: 800px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 10px;
}
.image1 {
  height: 400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100% 100%;
  box-shadow: 0 0 1px;
}
.vopros {
  height: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.true1 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true2 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true3 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true4 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true5 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true6 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true7 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true8 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true9 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.true10 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default1 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default2 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default3 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default4 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default5 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default6 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default7 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default8 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default9 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.default10 {
  height: 60px;
  width: 1000px;
  margin-left: 50px;
  box-shadow: 0 0 2px;
}
.text {
  text-align: left;
  padding-top: 15px;
  margin-left: 10px;
}
.text1 {
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
}
